<h1>Listing Books</h1>

<%= form_tag(books_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Enter Books" %>
  <%= submit_tag "GO", :name => nil %>
<% end %>
<br>
<table>
  <tbody>
    <% @books.each do |book| %>
      <td><%= link_to image_tag( book.image.url ( :thumb)), book %></td>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Book', new_book_path %>
