<p id="notice"><%= notice %></p>

<h2><%= @book.Title %></h2>

<%= image_tag @book.image.url ( :medium) %> <br>

<%= simple_format (@book.Description) %>

<p><b>Author:</b> <%= @book.Author %></p>
<p><b>Category:</b></p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Delete', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'View all', books_path %>

